@model ChangePasswordViewModel

@{
    ViewData["Title"] = Model.UserName + " - Личный кабинет";
}
<h4>Личный кабинет</h4>
<hr />
<div class="row">
    <div class="col-md-8 order-md-1 center-block">
        <h4 class="text-center">Изменить пароль</h4>
        <form asp-action="ChangePassword" asp-controller="Personal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserName" />
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label">Старый пароль</label>
                <input type="password" asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">Новый пароль</label>
                <input type="password" asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPasswordConfirm" class="control-label">Подтвердите новый пароль</label>
                <input type="password" asp-for="NewPasswordConfirm" class="form-control" />
                <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary btn-lg btn-personal" />
            </div>
        </form>
    </div>
    <div class="col-md-4 order-md-2 mb-4">
        <a class="btn btn-primary btn-light btn-personal" asp-area="" asp-controller="Personal" asp-action="Info">Личный кабинет</a><br />
        <button id="logoffBtn" class="btn btn-primary btn-dark btn-personal" type="submit">Выйти</button><br />
    </div>
</div>

<environment include="Development">
    <script src="~/js/Personal.js" asp-append-version="true"></script>
</environment>
