<h2> Согласие на обработку персональных данных
</h2>
<br>
<div class="concern">
<p>
   Наш сайт использует информацию о пользователях исключительно для лучшего обслуживания посетителей. 
</p>
<p>
    Какие данные хранятся и используются:
    <ul>
        <li> Регистрационные данные пользователя
        </li>
        <li> Сведения о заказах пользователя
        </li>
    </ul>
</p>
<p>
    Для чего используются:
    <ul>
        <li>
            Отправка и подтверждение заказов
        </li>
        <li>
            Сбор статистики
        </li>
    </ul>
</p>
<p>
    Наш сайт обязуется не предоставлять сведения о пользователях третьей стророне.
</p>
</div>