
@{
    ViewData["Title"] = "Регистрация";
}

<div class="container">
    <div class="col-md-8 order-md-1 center-block">
        <h4 class="mb-3"> Регистрация </h4>
        <div class="mb-3">
            <p class="text-info">
                Обратите внимание, что Пароль должен состоять из латинских букв, цифр, как минимум одной заглавной и одной строчной буквы и одного служебного символа.
                <br /> Поле UserName может содержать только идущие подряд латинские буквы и цифры.
            </p>
        </div>
        @*@{Html.RenderPartial("Partial");}action="javascript:void(0);"*@
        <form class="needs-validation" id="regForm" novalidate method="post" asp-controller="Account" asp-action="Register">

            <div class="mb-3">
                <label for="fio">ФИО: </label>

                <input type="text" autocomplete="off" id="fio" name="Fio" class="form-control" placeholder="Иванов Иван Иванович" required>

                <div class="invalid-feedback" style="width: 100%;">
                    Поле "ФИО" не было заполнено или было заполнено неверно.
                </div>
            </div>
            <div class="mb-3">
                <label for="email">Email: </label>

                <input type="email" autocomplete="off" id="email" name="Email" class="form-control" placeholder="you@example.com" required>
                <div class="invalid-feedback" style="width: 100%;">
                    Поле "Email" не было заполнено или было заполнено неверно.
                </div>
            </div>
            <div class="mb-3">
                <label for="name"> UserName: </label>

                <input type="text" autocomplete="off" id="name" name="UserName" class="form-control" placeholder="UserName" required>
                <div class="invalid-feedback" style="width: 100%;">
                    Поле "UserName" не было заполнено или было заполнено неверно.
                </div>
            </div>
            <div class="mb-3">
                <label for="phone">Номер телефона: </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">+7</span>
                    </div>
                    <input type="number" autocomplete="off" id="phone" name="PhoneNumber" class="form-control" placeholder="Номер телефона" required>
                    <div class="invalid-feedback" style="width: 100%;">
                        Поле "Номер телефона" не было заполнено или было заполнено неверно.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="city">Город: </label>
                <select class="custom-select" id="citySelect" name="IdCity">
                    @foreach (City s in ViewBag.Cities)
                    {
                        <option value="@s.Id">@s.Name</option>
                    }
                </select>
                    <div class="invalid-feedback" style="width: 100%;">
                        Поле "Город" не было заполнено или было заполнено неверно.
                    </div>
</div>
            <div class="mb-3">
                <label for="address">Адрес: </label>

                <input type="text" id="address" autocomplete="off" name="Address" class="form-control" placeholder="ул. Рабфаковская, д.30, кв. 74" required>
                <div class="invalid-feedback" style="width: 100%;">
                    Поле "Адрес" не было заполнено или было заполнено неверно.
                </div>
            </div>
            <div class="mb-3">
                <label for="password">Пароль: </label>

                <input type="password" id="password" name="Password" class="form-control" required>
                <div class="invalid-feedback" style="width: 100%;">
                    Поле "Пароль" не было заполнено или было заполнено неверно.
                </div>
            </div>
            <div class="mb-3">
                <label for="passwordConfirm">Подтверждение пароля: </label>

                <input type="password" id="passwordConfirm" name="PasswordConfirm" class="form-control" required>
                <div class="invalid-feedback" style="width: 100%;">
                    Поле "Подтверждение пароля" обязательно к заполнению.
                </div>

            </div>
            <br />
            <input class="btn btn-primary btn-lg btn-block" type="submit" onsubmit="return validateForm()" value="Регистрация">
        </form>
    </div>
    <div class="col-md-4 order-md-2 mb-4">
        <img class="img-register" src="~/images/register.jpg">
    </div>
</div>
<environment include="Development">
    <script src="~/js/Validation.js" asp-append-version="true"></script>
</environment>