@model BookAdd;
@{
    ViewData["Title"] = Model.Title;
}
<div>
    <div class="js___basket">
    </div>
       
        <div class="row">
            <h3 class="title-book">@Model.Title</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img class="center-block img-top-bottom-space" src="~/img/@Model.image" width="180" height="258" alt="@Model.Title">
            </div><div class="col-md-8">
                <h6>
                    @foreach (string c in Model.Authors)
                    {
                        <a href="#">
                            @c;
                        </a>
                    }
                </h6>
                <h6>
                    @foreach (string c in Model.Genres)
                    {
                        <a  href="#">
                            @c;
                        </a>
                    }
                </h6>
                <h5>
                    Цена:  @Model.Cost
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="border annotation-div">
                <p class="text-muted">Аннотация:</p>
                <p class="text-break">@Model.Content</p>
            </div>
        </div>
    </div>
