<div class="row" id="partialViewDiv">
    <div class="col-md-10 bg-info active-cyan-3 ">
        <input class="form-control" autocomplete="off" type="text" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-md-2 bg-danger">
        @if (@ViewBag.CurrentOrder != null)
        {

            <a class="h5" asp-area="" asp-controller="Personal" asp-action="Basket">Корзина</a>
            @*@Html.EditorFor(model => model.Amount);
            @Html.EditorFor(model => model.SumOrder);*@
            <p>Количество: @ViewBag.CurrentOrder.Amount</p>
            <p>Сумма: @ViewBag.CurrentOrder.SumOrder</p>
        }
        else
        {
            <p>Пожалуйста, авторизируйтесь, чтобы заказывать книги.</p>

        }
    </div>
</div>