@{
    ViewData["Title"] = "Использование cookies";
}
<h2>@ViewData["Title"]</h2>

<p>
    Наш Сайт использует cookie-файлы для того, чтобы отличить Вас от других пользователей. Это позволяет обеспечивать удобный просмотр нашего Сайта, а также даёт возможность улучшать его. Для того чтобы продолжить работу с Сайтом, согласитесь с использованием cookie-файлов.

  <br> Cookies – это небольшие файлы, состоящие из букв и цифр, которые сохраняются Вашим браузером на жёсткий диск Вашего компьютера.
</p>
